<div class="text-center"><h2>Edit Carpool</h2></div>

<hr>

<div class="row-fluid marketing" style="margin-top: 0">
	<div class="span12">
		<h4 style="">Destination Address</h4>
		<input type="text" style="height: 30px;" placeholder="LOCATION NAME" ng-model="newCarpool.destination.name" /><br />
		<input type="text" style="height: 30px;" placeholder="314 Park Street" ng-model="newCarpool.destination.address.line1" /><br />
		<input type="text" style="height: 30px;" placeholder="Miami, FL 33174" ng-model="newCarpool.destination.address.line2" />

		<div class="row-fluid">
			<div class="span6">
				<h4>Date</h4>
				<input type="date" class="input-large" style="height: 30px;" ng-model="newCarpool.date">
			</div>
			<div class="span6">
				<h4>Start Time</h4>
				<input type="time" style="height: 30px;" ng-model="newCarpool.time">
			</div>
		</div>

		<h4>Notes</h4>
		<textarea class="input-block-level" style="height: 100px;" ng-model="newCarpool.description"></textarea>
	</div>


</div>

<div class="row-fluid">
	<div class="span4">
		<h4>Riders</h4>

		<table class="table table-rounded table-bordered">
			<tbody>
				<tr ng-repeat="(key, value) in newCarpool.riders">
					<td>{{users[key].fname}} {{users[key].lname}}</td>
					<td style="text-align: center"><button class="btn btn-small btn-danger" ng-click="removeRider(key)"><i class="icon-minus-sign icon-white"></i></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="span4">
		<h4>Friends</h4>

		<table class="table table-rounded table-condensed table-bordered" style="margin-bottom: 0">
			<tbody>
				<tr ng-repeat="(key, value) in getUsers() | limitObjectTo:limit">
					<td><button class="btn btn-success input-block-level" ng-click="addRider(key)">{{value.fname}} {{value.lname}}</button></td>
				</tr>
			</tbody>
		</table>
		<button class="btn btn-link input-block-level" ng-show="limit == 5" ng-click="limit = 100">View all friends...</button>
		<button class="btn btn-link input-block-level" ng-show="limit > 5" ng-click="limit = 5">View less friends...</button>
	</div>

	<div class="span4">
		<h4>Search</h4><input class="input-block-level" placeholder=
		"Name..." type="text">
		<h4>Add Guests</h4>
		<p>Add users without a RideWith.Me account by entering their email address below.</p>
		<div class="input-append">
			<input class="span10" placeholder="guest@gmail.com" style="height: 30px;" type="text"><button class="btn">Add</button>
		</div>
	</div>
</div>
<hr>

<div class="row-fluid">
	<div class="span12">
		<button class="btn btn-primary input-block-level" data-target="#myModal" data-toggle="modal" style="height: 100px">FINISH</button>
	</div>
</div>

<div class="modal hide fade" id="myModal" tabindex="-1">
	<div class="modal-header">
		<button class="close" data-dismiss="modal" type="button">×</button>
		<h3 id="myModalLabel">Confirm settings</h3>
	</div>

	<div class="modal-body">
		<p>Please confirm your carpool.</p>
		<h4>Final Destination</h4>
		<address>
			{{newCarpool.destination.name}}<br>
			{{newCarpool.destination.address.line1}}<br>
			{{newCarpool.destination.address.line2}}
		</address>
		<h4>Arrival Date &amp; Time</h4>
		<p>{{newCarpool.date}} at {{newCarpool.time}}</p>
		<h4>Riders</h4>
		<ol>
			<li ng-repeat="(key, value) in newCarpool.riders">{{users[key].fname}} {{users[key].lname}}</li>
		</ol>
	</div>

	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Close</button>
		<button class="btn btn-primary" data-dismiss="modal" ng-click="doCreate()">Save new carpool</button>
	</div>
</div>