<div class="jumbotron">
    <h1>Carpooling for the modern world</h1>
    <p class="lead">A simple and easy way to manage and organize carpools. Automatically calculate routes, split the cost of gas with ease, and receive real-time notifications for drivers and riders.</p>
    <a class="btn btn-large btn-success" href="#/signup">Sign up today</a>
</div>

<hr>

<div class="row-fluid marketing">
    <div class="span6">
        <h4>Route Calculation</h4>
        <p>Our modern algorithms use traffic patterns and anonymous public data to calculate the most efficient route for your driver to take. Never be late again.</p>
        <h4>Real-Time Notifications</h4>
        <p>Instantly receive text alerts, emails, and push notifications describing the current carpool situation.</p>
        <h4>Easily Invite Friends</h4>
        <p>All you need is their email address or phone number. Invite your friends today!</p>
    </div>
    <div class="span6">
        <h4>Gas Money Payments</h4>
        <p>Automatically grab local gas prices. Estimate the cost of travel in advance. Ask your riders to pay their portion online, before the trip even starts!</p>
        <h4>Recurring Carpools</h4>
        <p>Do you carpool regularly? Set up recurring carpools to automatically charge your riders every week.</p>
        <h4>Friendly Support</h4>
        <p>Our 24/7 support staff is ready to help you with any problems you may encounter.</p>
    </div>
</div>