<div class="text-center"><h2>{{current.name}}</span></h2></div>

<div class="well well-small">
  <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=305+W+68th+St,+Hialeah,+FL&amp;daddr=SW+62nd+Ave+to:NW+29th+St&amp;hl=en&amp;geocode=FcL4igEd0OE2-ynDfGLqvLrZiDGu48-PKjaNrg%3BFWsSiQEdksg2-w%3BFVS8iQEd-EE4-w&amp;aq=0&amp;oq=FIU&amp;sll=25.793091,-80.237274&amp;sspn=0.688712,0.660553&amp;mra=dme&amp;mrsp=1&amp;sz=11&amp;ie=UTF8&amp;ll=25.794945,-80.224228&amp;spn=0.688712,0.660553&amp;t=m&amp;output=embed"></iframe>
</div>

<div class="row-fluid">
  <div class="span8">
    <button class="btn btn-primary">Message Riders</button> <button class="btn">Recalculate Route</button> <button class="btn">Cancel Carpool</button>
    <h4 style="margin-top: 30px">Carpool Description</h4>
    <p>{{current.description}}</p>
    <h4>Final Destination</h4>
    <address style="margin-bottom: 20px">{{current.destination.name}}<br />{{current.destination.address.line1}}<br />{{current.destination.address.line2}}</address>
  </div>

  <div class="span4">
    <h4>Riders</h4>
    <div class="well well-small" ng-repeat="rider in current.riders">
      <address style="margin-bottom: 10px"><strong>{{users[rider.email].fname}} {{users[rider.email].lname}}</strong><br />{{users[rider.email].address.line1}}<br />{{users[rider.email].address.line2}}</address>
      <label class="label label-success" style="float: right" ng-show="rider.paid">PAID {{rider.amountOwed | currency}}</label>
      <label class="label label-info" style="float: right" ng-show="!rider.paid">PENDING PAYMENT ({{rider.amountOwed | currency}})</label>
    </div>
  </div>
</div>